<div #parent class="parent-container">
    <app-header (isActiveEmmiter)="isSideBarActive=$event"></app-header>
    <div class="content-wrapper">
        <app-landing-page *ngIf="currentPage.page=='home'"></app-landing-page>
        <app-category-page *ngIf="currentPage.page=='category'"></app-category-page>
        <app-blog-page *ngIf="currentPage.page=='blog'"></app-blog-page>
    </div>
    <app-footer></app-footer>
    <app-sidebar [isActive]="isSideBarActive" (currentPage)="currentPage = $event"></app-sidebar>
</div>