.parent-container {
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    border: 1px solid var(--secondary);
    padding: 16px;
    background-color: var(--background);
}

.title {
    font-family: var(--FF-Rubik);
    font-weight: 600;
    font-size: 18px;
}

.body {
    font-family: var(--FF-Rubik);
    font-weight: 400;
    font-size: 14px;
}

.subscripe {
    width: 120px;
    height: 32px;
    margin-top: 32px;
    background-color: var(--primary);
    font-family: var(--FF-Rubik);
}

.parent-container.two {
    background-color: var(--secondary);
}