<div class="parent-container" >
  @if (category == 'news' || category == 'articals' || category == 'reports') {
    <p class="title">{{data.title}}</p>
    <div class="share">
      <p class="share-tip">شارك المقال</p>
    </div>
    <div class="imgs-list">
     <div class="img">
      <div class="img-container">
        <img [src]="data.img" alt="" />
      </div>
      <p class="img-footer" *ngIf="data.imgFooter">- {{data.imgFooter}}</p>
     </div>
     @if (data.img2) {
      <div class="img">
        <div class="img-container">
          <img [src]="data.img2" alt="" />
        </div>
        <p class="img-footer" *ngIf="data.imgFooter">- {{data.imgFooter}}</p>
       </div>
     }
    </div>
    <hr />
    @for(key of objectKeys(data.content); track $index){
      <p class="paragraoph" [ngClass]="{'p-tap': key.includes('pt'),'sub-title': key.includes('t'), 'p-head': key.includes('s')}">
        {{data.content[key]}}
      </p>
    }
    <hr />
    <div class="writer" *ngIf="data.writer">
      <span class="material-symbols-rounded">
        edit
        </span>
        <p >بقلم: {{data.writer}}</p>
    </div>
    <div class="writer" *ngIf="data.interviewer">
      <span class="material-symbols-rounded">
        speech_to_text
        </span>
        <p >حوار: {{data.interviewer}}</p>
    </div>
  }
  @else if (category == 'infographic') {
    <!-- <p class="title">{{data.title}}</p> -->
    <div class="infograph-container">
      <img [src]="data.img" alt="" srcset="">
    </div>
  }
</div>

