<div class="parent-container">
  <p class="title">{{data.title}}</p>
  <div class="share">
    <!-- <p class="share-tip">شارك المقال</p> -->
  </div>
  <div class="img-container">
    <img [src]="data.img" alt="" />
  </div>
  <p class="img-footer">- {{data.imgFooter}}</p>
  <hr />
  @for(p of data.content; track $index){
    <p class="paragraoph">
      {{p}}
    </p>
  }
  <hr />
  <div class="writer">
    <span class="material-symbols-rounded">
      edit
      </span>
      <p>بقلم: {{data.writer}}</p>
  </div>
</div>
