<div class="parent-container">
    <div class="section-one">
        <div class="trending">
            <p class="trending-title">رائج حالياً</p>
           <span>
            <app-card-one (viewEmmiter)="emmitView($event)"></app-card-one>
            <app-card-one (viewEmmiter)="emmitView($event)"></app-card-one>
           </span>
        </div>
        <span>
            <app-card-one (viewEmmiter)="emmitView($event)"></app-card-one>
        </span>
    </div>
    <p class="section-title">TOP STORIES</p>
    <div class="section-Two">
        <div class="news-section">
            <app-news-card></app-news-card>
            <app-news-card [type]="2"></app-news-card>
        </div>
        <div class="top-stories">
            <app-card-two (viewEmmiter)="emmitView($event)"></app-card-two>
            <app-card-two (viewEmmiter)="emmitView($event)"></app-card-two>
            <app-card-two (viewEmmiter)="emmitView($event)"></app-card-two>
            <app-card-two (viewEmmiter)="emmitView($event)"></app-card-two>
            <app-card-two (viewEmmiter)="emmitView($event)"></app-card-two>
            <app-card-two (viewEmmiter)="emmitView($event)"></app-card-two>
        </div>
    </div>
</div>