<div class="parent-container">
    <div class="section-one">
        <div class="trending">
            <p class="trending-title">رائج حالياً</p>
           <span>
            <app-card-one></app-card-one>
            <app-card-one></app-card-one>
           </span>
        </div>
        <span>
            <app-card-one></app-card-one>
        </span>
    </div>
    <div class="section-Two">
        <div class="news-section">
            <app-news-card></app-news-card>
            <app-news-card [type]="2"></app-news-card>
        </div>
        <div class="top-stories">
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
            <app-card-two></app-card-two>
        </div>
    </div>
</div>