<div class="parent-container">
    <h1>من نحــن؟</h1>
  <div class="video-container">
    <video
      src="https://res.cloudinary.com/dypplxusy/video/upload/v1745940722/qni0lfxithnnsi49anvs.mp4"
      autoplay
      ></video>
  </div>
  <hr>
  <h1>تواصل معنا</h1>
  <div class="contact-us">
    <input type="text" name="fullName" id="fullName" placeholder="الإسم الكامل">
    <input type="email" name="email" id="email" placeholder="البريد الالكتروني">
    <input type="text" name="phone" id="phone" placeholder="رقم الهاتف">
    <textarea placeholder="اكتب الينا"></textarea>
  </div>
  <button type="button">إرسال</button>
</div>
